.photo {
width: 100px;
height: 100px;
border-radius: 50px;
}

.selectedPage{
    font-size: 1.4rem;
    font-weight: bold;
}

.numbers{
    cursor: pointer;
    padding-right: 30px;
}

.number{
    padding: 3px;
}
.selectedPage{
    padding: 5px;
}

