.dialogs{
display: grid;
grid-template-columns: 2fr 5fr;
padding: 10px;
}



.a{
    color: #000;
    text-decoration: none;
    
    font-weight: 600;
  }


.active{
    color: goldenrod;
    text-decoration: none;
   
    font-weight: 700;
  }

.dialog{

    color: cadetblue;

}
.button{
    width: 50px;
}
.textarea{
    width: 200px;
}
